* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.product-header,
.product {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid lightgray;
    margin: 0 auto;
}

.product-title {
    width: 55%;
}

.price {
    width: 15%;
    display: flex;
    align-items: center;
}

.quantity {
    width: 15%;
    display: flex;
    align-items: center;
}

.total {
    width: 15%;
    display: flex;
    align-items: center;
}

.decrease,
.increase {
    padding-left: 3px;
    padding-right: 3px;
}

.product-name {
    width: 55%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.basket-total-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 20px 0;
}