.product-container {
    max-width: 650px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    display: flex;
    align-items: center;
}

.quantity {
    width: 15%;
    display: flex;
    align-items: center;
}

.total {
    width: 15%;
    display: flex;
    align-items: center;
}