body {
    margin: 0;
    font-family: 'Tinos', serif;
    background-color: #F4E4C3;
}

.container {
    margin: 0px 40px;
}

.header {
    background-image: url(images/background.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    padding-top: 29px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-name {
    color: white;
    font-size: 40px;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 20px;
    transition: color 0.3s linear;
}

.nav-item:hover {
    color: #FB7123;
}

.cart {
    position: relative;
    border-right: 2px solid #FFFFFF;
    padding-right: 10px;
    height: 50px;
}

.cart-image {
    position: absolute;
    top: 10px;
    right: 7px;
    padding-left: 10px;
    width: 35px;
    height: 35px;
}

.num {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s linear;
}

.num:hover {
    color: #FB7123;
}

.phone-text {
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.phone-pos {
    display: flex;
    align-items: center;
}

.phone-img {
    padding-right: 5px;
}

.book-a-table {
    background-color: #FF0000;
    color: white;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    transition: background-color 0.2s linear;
    border-radius: 10px;
}

.book-a-table:hover {
    background-color: #9E0404;
}

.header-down {
    position: relative;
}

.header-title {
    position: absolute;
    left: 153px;
    line-height: 46px;
    color: white;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    margin-top: 215px;
}

.subtitle {
    color: white;
    font-size: 20px;
}

.subtitle:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: white;
    top: 115px;
    left: 38px;
}

.subtitle:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: white;
    top: 115px;
    left: 350px;
}

.header-button {
    background-color: #FF0000;
    padding: 14px 28px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background-color 0.3s linear;
    border-radius: 10px;

}

.header-button:hover {
    background-color: #9E0404;
}

.blocks-holder {
    display: flex;
    justify-content: center;
}

.block {
    width: 300px;
    height: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 31px;
    background-color: #fff;
    margin-top: -40px;
    padding: 10px 10px;
}

.block-image {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.block-img {
    width: 50px;
    height: 50px;
}

.block-head {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 24px;
}

.block-head span {
    color: #FB7123;
}

.block-text {
    text-align: center;
    font-size: 22px;
    color: rgb(60, 60, 60);
}

.intro {
    margin-top: 120px;
}

.intro-info {
    margin-left: 150px;
    margin-top: 150px;
}

.intro-title {
    font-size: 55px;
    width: 519px;
    text-align: center;
    margin-top: 21px;
}

.intro-title span {
    color: #FB7123;
}

.intro-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    width: 519px;
    text-align: center;
    margin-top: 21px;
}

.intro-btn {
    width: 519px;
    text-align: center;
    margin-top: 40px;
}

.intro-button {
    background-color: #FF0000;
    padding: 14px 28px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background-color 0.3s linear;
    border-radius: 10px;

}

.intro-button:hover {
    background-color: #9E0404;
}

.intro-holder {
    display: flex;
    justify-content: space-between;

}

.history-img {
    margin-top: -170px;
    padding: 155px 0px;
}

.image {
    height: 650px;
    width: 550px;
}


.black-block {
    background-image: url(images/black-bg-2.png);
    padding: 80px 0;

}

.left-title {
    color: #FB7123;
    font-size: 40px;
    font-weight: 700;

    margin-bottom: 20px;
}

.left-text {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.right-btn {
    background-color: #FF0000;
    padding: 14px 28px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background-color 0.3s linear;
    border-radius: 10px;
}

.right-btn:hover {
    background-color: #9E0404;
}

.block-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-title {
    font-family: 'Tinos', serif;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    padding-top: 110px;
    margin-bottom: 72px;
}


.menu-title span {
    color: #FB7123;
}

.menu {
    align-items: center;
}

.menu-items {
    display: flex;
    text-align: center;
    justify-content: center;
}

.food {
    text-align: center;
    width: 33%;
}

.food-middle {
    margin-right: 100px;
    margin-left: 100px;
}

.menu-image {
    justify-content: center;
    text-align: center;
}

.menu-img {
    height: 270px;
    width: 270px;
    border-radius: 10px;
    transition: 0.5s ease;
}

.menu-img:hover {
    transform: scale(1.2);
}


.menu-image {
    position: relative;
}

.description {
    font-weight: 400;
    font-size: 20px;
    padding-top: 23px;
}

.all-menu {
    text-align: center;
    padding-top: 100px;
    font-weight: 400;
    font-size: 35px;
}

.text {
    color: black;
}


.comment {
    margin-top: 120px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #FF9F76;
    width: 100%;
}

.comment-one {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    font-style: italic;
}

.image-1 {
    width: 70px;
    height: 70px;
}

.comment-human {
    text-align: center;
}

.subcomment {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.subsubcomment {
    padding-top: 10px;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}

.order-holder {
    display: flex;
    justify-content: space-between;

}

.order-header {
    margin-top: 140px;
    width: 421px;
    height: 511px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

.order-head {
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    padding-bottom: 43px;
}

.subhead {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    padding-bottom: 43px;

}

.pick-up {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #FB7123;
    padding-bottom: 18px;

}

.order-text {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    padding-bottom: 43px;
}

.bolt-food {
    text-decoration: none;
    color: rgb(28, 187, 28);
    font-weight: 600;
    transition: color 0.3s linear;
}

.bolt-food:hover {
    color: rgb(65, 100, 30);
}

.order-btn {
    background-color: #FB7123;
    padding: 10px 24px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background-color 0.3s linear;
    border-radius: 10px;
}

.order-btn:hover {
    background-color: #D94E00;
}

.order-img {
    width: 600px;
    height: 704px;
    padding-bottom: 0;
}

.footer {
    background-color: black;
    width: 100%;
    height: 250px;
    justify-content: space-between;
}

.links {
    padding-top: 36px;
    margin-left: 20px;
    list-style: none;
    height: 167px;
    width: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
}

.link {
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    margin-right: 20px;
    transition: color 0.3s linear;
}


.link:hover {
    color: #FB7123;
}

.socials {
    margin-left: 20px;
}

.social {
    margin-right: 10px;
}

.social-link {
    text-decoration: none;
}

@media (max-width: 1500px) {
    .menu-items {
        display: block;
    }

    .food-middle {
        margin-right: 0px;
        margin-left: 0px;
    }
}